<html>

<head>
    <title> NMKRD - proxy </title>

    <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
    <h1>NMKRD</h1>
    <h1>A Mini Korean Dictionary</h1>

    <h2>Welcome!</h2>

    <p> This is the proxy server I made for my Korean dictionary app. Oh, but you being here means that you probably know about it, hehe. Or don't you? Well if you don't - here's <a href="https://play.google.com/store/apps/details?id=com.stealthmateoriginal.navermini">link</a>
    </p>

    <p> I spent quite a lot of time working on both this server and the app (I started around 20th October 2016). I didn't think it would be easy and oh boy, it sure wasn't! But hey, it's alive and kickin' right now and that's what matters!
    </p>

    <p> Anyway, I made this app because the original Naver Dict app was...well, not good enough for me. No, scratch that, it just sucks. It is a glorified browser for Naver's website and I don't like glorified browsers packaged as apps. I really don't. Websites
        on mobile are clunky, laggy and they're overall hard to use. That's why I took it upon myself to make this app in order to deliver a better user experience. And I did it!
    </p>
    <p>And here we are now, you and I, staring at each other and thinking "What's this guy's deal?". Well if you've come so far, then I probably won't feel bad to say this, so here goes nothing!
    </p>

    <p>As you already know, I spent a lot of time building this app. Unfortunately, since it uses data from Naver and I don't know if monetizing that is legally valid or not, I removed all ads. However if you feel like I deserve some compensation for my
        hard work, feel free to make a donation! (On the payment page it will show up as if you're buying an item - A Developer's Heart. I may not be able to physically give you my heart, but I will never forget that you've supported me. :) )
    </p>

    <div class="paypal">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="ZKPDTYV3R2EYS">
            <table>
                <tr>
                    <td><input type="hidden" name="on0" value="Amounts">Amounts</td>
                </tr>
                <tr>
                    <td>
                        <select name="os0">
                    	<option value="Small">Small €1.00 EUR</option>
                    	<option value="Medium">Medium €5.00 EUR</option>
                    	<option value="Large">Large €10.00 EUR</option>
                    </select>
                    </td>
                </tr>
            </table>
            <input type="hidden" name="currency_code" value="EUR">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>

</body>

</html>
