h1, h2 {
    text-align: center;
}

body {
    padding: 0vw 2vw 0vw 2vw;
}

.paypal {
    display: block;
    width: 10vmax;
    height: 10vmax;
    margin: auto;
}

input {
    width: 10vmax;
    height: 3.5vmax;
}
